
.profilePic{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.profilePicsize{
    position: realtive;
    width: 16rem;
    height: 20rem;
    border-radius: 50%;
}
.container{
    width: 100%;
    height: 100%;
  
}
.vectorBck1{
   width: 100%;
   height: 500px;
    background: url(../assets/Group\ 99.svg);
    background-repeat:no-repeat;
    background-size: contain;
    background-position:center;
}


.vector2Pos{
    display: flex;
   
}
.backgVector{
    margin-top: 15rem;
    height: 16rem;
    background: url(../assets/Group\ 98.svg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 33% 59%;
}

.iconSM{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
.iconPad{
    padding-right: 1rem;
    padding-left: 1rem;
}


.circleRight{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.circleSize{
    width: 5rem;
    height: 10rem;
    object-fit: cover;
    object-position: 0% 100%;
}

.circleSizeLeft{
    width: 5rem;
    height: 10rem;
    object-fit: cover;
    object-position: 100% 0;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
    .vectorBck1{
        width: 100%;
         background: url(../assets/Group\ 99.svg);
         background-repeat:no-repeat;
         background-size: contain;
         background-position:top;
     }
   
  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .vectorBck1{
        width: 100%;
         background: url(../assets/Group\ 99.svg);
         background-repeat:no-repeat;
         background-size: contain;
         background-position:top;
     }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .vectorBck1{
        width: 100%;
         background: url(../assets/Group\ 99.svg);
         background-repeat:no-repeat;
         background-size: contain;
         background-position:top;
     }
    
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}
